.title_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  background-color: var(--DD_title_bg);
  align-items: center;
  cursor: pointer;
}
.h3_DD {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--h3_DD);
  font-weight: 600;
  font-size: 2.2rem;
  font-family: var(--h3_DD_FF);
  margin: 0;
  padding-left: 18px;
  padding-right: 18px;
  
}

.arrow_content {
  width: 32px;
  height: 32px;
  padding: 0 20px 0 20px;
  background: transparent;
  box-sizing: content-box;
}
@media all and (max-width: 767px) {
  .h3_DD {
    font-size: 1.7rem;
  }
  .arrow_content {
    width: 24px;
    height: 24px;
    padding: 10px;
  }
}
@media all and (max-width: 540px) {
  .h3_DD {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 320px){
  .h3_DD {
    font-size: 1.2rem;
  }
}
